.card > * {
  display: block;
  border-radius: 5px;
  border-radius: 5px;
  outline: none;
  color: rgba(236, 157, 157, 0.749);
  border: none;
}

.header {
  font-size: 28px;
  margin-bottom: 8px auto;
  padding: 0;
  text-align: center;
}

.card label {
  margin-bottom: 8px;
}

.card > *[type="text"],
[type="number"] {
  margin-bottom: 24px;
  padding: 8px 64px 8px 12px;
}

.card > *[type="submit"] {
  padding: 8px 31px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  transition: transform 0.1s;
}
.card > *[type="submit"]:hover {
  background-color: #919191bf;
  transform: scale(1.1);
}
.card > *[type="submit"]:active {
  transform: scale(1);
}
