form > * {
  display: block;
  border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 1s all;
}
.header {
  font-size: 28px;
  margin-bottom: 8px auto;
  padding: 0;
  text-align: center;
}

form label {
  margin-bottom: 8px;
}

form > *[type="text"],
[type="number"] {
  margin-bottom: 24px;
  padding: 8px 64px 8px 12px;
}

form > *[type="submit"] {
  padding: 8px 31px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  transition: transform 0.1s;
}
form > *[type="submit"]:hover {
  background-color: #919191bf;
  transform: scale(1.1);
}
form > *[type="submit"]:active {
  transform: scale(1);
}

.card {
  color: #ec9d9dbf;
}
